<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.com.ervsoftware.ysl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".JatuhTempoActivity"></activity>
        <activity
            android:name=".ProfileDetailActivity"
            android:theme="@style/CustomDialog" />
        <activity android:name=".ProfileCustActivity" />
        <activity android:name=".ProfileSuppActivity" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DatePickerActivity"
            android:theme="@style/CustomDialog" />
        <activity android:name=".InformasiTambahan" />
        <activity
            android:name=".ChartPenjualan"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChartPembelian"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ForgotEmailActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".HutangActivity"
            android:label="Hutang"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".PiutangActivity"
            android:label="Piutang"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".PembelianActivity"
            android:label="Pembelian"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".PenjualanActivity"
            android:label="Penjualan"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>